<h1>Michael Steincher</h1>
<p>Full-Stack Developer</p>

<div>
  <h2>Strengths, Skills & Qualities</h2>
  <ul>
    <li>Expert understanding of functional and object-oriented programming.</li>
    <li>Have advised on technologies best suited for desired solutions.</li>
    <li>Adept with Docker, Azure DevOps and GitHub/GitLab.</li>
    <li>Well-versed using Jest framework for unit testing.</li>
    <li>2+ years using JavaScript and HAPI framework.</li>
    <li>Experienced in project methodology, primarily in “Waterfall” and “Agile” principles.</li>
    <li>Good understanding of ITIL framework.</li>
    <li>Well-versed in HTML and CSS.</li>
    <li>Experienced in AWS, MS dynamics and DynamoDB.</li>
    <li>Good understanding of using relational i.e., PostgreSQL and non-relational databases i.e., MongoDB</li>
    <li>Working knowledge of Google Analytics 4.</li>
    <li>Experience of using Ruby and Java.</li>
    <li>Utilising frameworks such as Express for Node.JS </li>
  </ul>
</div>

<div>
  <h2>Education</h2>
  <p>Level 4 Software Developer Apprenticeship (2023), DEFRA: Merit</p>
  <p>The Open University (current): Part-time, remote learning BSc (Hons) IT and Computing undergraduate degree</p>
  <p>Web Development bootcamp: Self-Study via Udemy</p>
  <p>Sussex Downs College (2009 - 2012): Diploma in Electrical Installation</p>
  <p>St. Richards Catholic College (2004 - 2009): 9 GCSE's: A*, 2 A's, 3 B's, 3 C's</p>
</div>

<div>
  <h2>Employment & Main Duties</h2>
  <h3>DEFRA (Sept 2021 - Current)</h3>
  <p>Junior Software Developer (projects: I Want to Fish, Long Term Flood Risk)</p>
  <ul>
    <li>Work on tickets using JIRA, dealing with enhancements, bugs and SPIKEs.</li>
    <li>Create solutions writing Node.JS code, following the HAPI framework.</li>
    <li>Ensure full coverage and well-written unit tests in Jest framework.</li>
    <li>Refine tasks into smaller ones where required, defining acceptance criteria to plan designs to user/business focused application development.</li>
    <li>Follow software development Agile methodology by working in sprints, having daily stand-ups and retrospectives.</li>
    <li>Assist colleagues throughout all stages of the Agile journey: planning, designing, developing, testing, deploying and maintaining.</li>
    <li>Work using the layered software architecture pattern, splitting programs to ensure continuous no coupling or dependency issues occur.</li>
    <li>Work with Docker containerisation tools to ensure reliability in multiple environments.</li>
    <li>Review other developers work via GitHub and GitLab version control providing improvements and encouraging positive feedback.</li>
    <li>Build, test and deploy to required environment pipelines using Jenkins, promoting continuous integration.</li>
    <li>Adhere to security practices such as GDPR, OWASP and GDS by designing and developing safe and secure code.</li>
    <li>Create solutions that abide by WACG accessibility standards.</li>
    <li>Champion good coding practices including Clean Coding principles, SOLID principles and reducing technical debts.</li>
    <li>Continuously look for development opportunities and remain updated with new technologies and industry methodologies.</li>
    <li>Advise on best technical tools required to resolve problems.</li>
    <li>Support other developers, including fellow junior developers to solve problems.</li>
    <li>Keep an open network with the development community by encouraging discussion and sharing of knowledge.</li>
    <li>Convey complex technical information to non-technical stakeholders by adapting communication style.</li>
    <li>Store data securely using AWS S3 cloud.</li>
    <li>Identify patterns and reduce duplication in both code and across business projects.</li>
    <li>Investigate and resolve bugs to ensure high functioning business applications.</li>
    <li>Manage services databases, using DynamoDB, MS Dynamics CMS and Redis.</li>
    <li>Work with internal and external APIs to create RESTful backend services.</li>
    <li>Assist in the design and development of user-focused frontend interface creation.</li>
    <li>Exert influence on the organisation's strategy, direction and culture to enhance overall effectiveness.</li>
  </ul>

  <h3>Research England Research Excellence Framework Team (March 2020 - August 2021)</h3>
  <p>Junior Systems Support Analyst & Software Tester</p>
  <ul>
    <li>Analysed REF system user interface and code in order to locate faults.</li>
    <li>Tested new system functions and fixed bugs in an Agile environment.</li>
    <li>Used a variety of software development applications such as Azure DevOps, SQL, Postman API and Sublime code editor.</li>
    <li>Worked with suppliers to resolve application issues.</li>
    <li>Wrote test scripts, created story boards, managed bugs and fixed and scaled up the system database on DevOps.</li>
    <li>Suggested UI improvements and other practical functions within the system.</li>
    <li>Kept up to date with changes in applications and languages used for the project.</li>
    <li>Managed and created website content using HTML and Umbraco.</li>
    <li>Worked with Azure DevOps SaaS to create story boards, monitor further development and testing tasks.</li>
    <li>Analysed data for improvements in processes and system functions with the user in mind.</li>
    <li>Worked closely with developers in planning system software user interface design and expanding the database so higher education institutions could enter all data required for assessment.</li>
    <li>Mediated between publishers and the development team to coordinate retrievals of journal articles from publisher websites for review in the assessment.</li>
    <li>Investigated possible bugs notified by users and relayed the problem to both developers and non-technical users.</li>
    <li>Updated XML, JSON schema files for importing data into the submission system.</li>
    <li>Made requests via the API to ensure automated users could transfer using the own CRIS systems.</li>
    <li>Prepared upcoming version update release notes.</li>
    <li>Clearly and effectively communicated with academic professionals to convey both technical instructions and system validation requirements.</li>
    <li>Worked closely with the Policy team to answer a variety of questions and plan upcoming releases.</li>
    <li>Contributed to user experience improvements in sprint meetings.</li>
    <li>Monitored the output retriever on Selenium to ensure it was working correctly.</li>
    <li>Maintained awareness of security conflicts that occurred during the project.</li>
  </ul>

  <h3>Cardiff & Vale Health Board (NHS) (October 2019 - March 2020)</h3>
  <p>Data & Information Administrator</p>

  <ul>
    <li>Communicated effectively regarding complex information relating to research activity within the UHB to staff.</li>
    <li>Proactively led on obtaining missing data through varied methods of communication with R&D Office colleagues, consultants, health professionals, research delivery teams, allied health professionals and other research active staff.</li>
    <li>Provided training to research teams.</li>
    <li>Conducted data quality reviews and audits in existing databases, sourcing and obtaining missing data from a range of sources, and subsequently ensuring the accuracy of the data in the merged LPMS. </li>
    <li>Cleansed data held in the LPMS system on an ongoing basis.</li>
    <li>Generated reports drawn from a range of data sources and ensured adherence to the General Data Protection Regulations (GDPR) 2018 and Good Clinical Practice Guidelines.</li>
    <li>Exercised judgement when dealing with queries related to the data.</li>
    <li>Used problem-solving skills in relation to information management to ensure the accuracy and completeness of data.</li>
  </ul>

  <h3>The Pensions Regulator (July 2017 - April 2019)</h3>
  <p>User Acceptance Tester/Case Administration Support/Customer Support/Project Support Officer</p>

  <ul>
    <li>Completed testing on the Exchange Scheme Returns system.</li>
    <li>Search for errors in HTML, CSS and JavaScript code before reporting these to the development team.</li>
    <li>Collaborated with colleagues and stakeholders to provide an excellent customer journey.</li>
    <li>Produced reports using CRM systems and analysed data trends to contribute to quarterly meeting. </li>
    <li>Used Document Manager for adding protected documents to system.</li>
  </ul>

  <h3>Hastings Direct Insurance (July 2012 - July 2015)</h3>
  <p>Claims Handler/Total Loss Handler/Technical Advisor/Complaints Handler/Systems User Acceptance Tester</p>

  <ul>
    <li>Tested new systems being used throughout the company.</li>
    <li>Worked with stakeholders to resolve challenging system issues within SLAs.</li>
    <li>Communicated with customers, colleagues and external suppliers via phone, e-mail and letter.</li>
    <li>Analysed agent’s work and supplied feedback on any amendments or errors.</li>
    <li>Used problems-solving skills to provide customer resolutions.</li>
  </ul>
</div>
